.fa-link-colors:hover {
    cursor: pointer;
    color: #6bff1c;
  }
  .minibutton {
    border: 3px solid #83df7b;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-top: 8px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: border-color 0.5s ease;
  }
  .minibutton:hover {
    border: 3px solid #6bff1c;
    transition: border-color 0.5s ease-in-out;
  }
  .minibutton:hover .fa-link2 {
    transform: rotate(360deg) scale(1.5);
    transition: transform 0.4s ease-in-out;
  }
  
  .minibuttondel {
    border: 3px solid #df7b7b;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-top: 8px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: border-color 0.5s ease;
  }
  .minibuttondel:hover {
    border: 3px solid #ff1c1c;
    transition: border-color 0.5s ease-in-out;
  }
  .minibuttondel:hover .fa-link2 {
    transform: rotate(360deg) scale(1.5);
    transition: transform 0.4s ease-in-out;
  }
  .fa-link-del-colors {
    color:#df7b7b;
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  .fa-link-del-colors:hover {
    color:#ff1c1c;
    cursor: pointer;
  }
  
  .fa-link2 {
    margin: 10px;
    width:28px;
    height:28px;
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  .fa-link2-colors {
    color:#83df7b;
    transition: color 0.4s ease-in-out, transform 0.4s ease-in-out;
  }
  .fa-link2-colors:hover {
    color:#6bff1c;
    cursor: pointer;
  }

  .minibuttonblue {
    border: 3px solid #7bcbdf;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-top: 8px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: border-color 0.5s ease;
  }
  .minibuttonblue:hover {
    border: 3px solid #1c3eff;
    transition: border-color 0.5s ease;
  }
  .minibuttonblue:hover .fa-link2 {
    transform: rotate(360deg) scale(1.5);
    transition: transform 0.4s ease;
  }
  .fa-link-blue-colors {
    color:#7bcbdf;
    transition: color 0.4s ease-in-out;
  }
  .fa-link-blue-colors:hover {
    color:#1c3eff;
    cursor: pointer;
  }